<footer id="footer" class="page-footer grey darken-3">
    <div class="footer-copyright">
      <div class="container">
      © 2022 Cory Simpson
      <a class="grey-text text-lighten-4 right" target="_blank" href="https://cory-simpson.dev/">Check out my portfolio</a>
      </div>
    </div>
</footer>