<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Tasks</title>
</head>
<body>
    <h1>Tasks</h1>

    <h2>Welcome <%= user.userName %></h2>

    <form action="/tasks/createTask" method='POST'>
        <input type="text" placeholder="Enter Task Item" name='taskItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>