body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#welcome {
    margin: 36px 0;
}

.settings-title {
    width: 100%;
    text-align: center;
}

.sidenav {
    width: 400px;
}

i.selected {
    color: black;
}

.s3 a {
    padding: 0;
}
.s3 i {
    padding: 0 16px
}

.create,
.remove {
    padding: 0 16px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-300 {
    width: 300px;
}

#footer {
    padding: 0;
}

.favorited {
    color: black !important;
}

.tiny {
    padding: 10px;
}

.tiny:hover {
    cursor: pointer;
}

#addTaskForm {
    display: flex;
}

.flex-end {
    display: flex !important;
    height: 40px;
    align-items: flex-end !important;
    justify-content: center;
}